<?php

/**
 * @file
 * Lists available colors and color schemes for the IITB DJ theme.
 *
 * Theme requires some colors as variants.
 *  primary           => --primary
 *  primary__contrast => --primary--contrast.
 */

$info = [
  // Available colors and color labels used in theme.
  'fields' => [
    'primary' => t('Primary'),
    'primary__contrast' => t('Primary contrast'),
    'secondary' => t('Socondary'),
    'secondary__contrast' => t('Socondary contrast'),
    'success' => t('Success'),
    'success__contrast' => t('Success contrast'),
    'info' => t('Info'),
    'info__contrast' => t('Info contrast'),
    'warning' => t('Warning'),
    'warning__contrast' => t('Warning contrast'),
    'danger' => t('Error'),
    'danger__contrast' => t('Error contrast'),
    'light' => t('Light'),
    'light__contrast' => t('Light contrast'),
    'dark' => t('Dark'),
    'dark__contrast' => t('Dark contrast'),
  ],
  // Pre_defined color schemes.
  'schemes' => [
    'default' => [
      'title' => t('deGov default'),
      'colors' => [
        'primary' => '#004673',
        'primary__contrast' => '#ffffff',
        'secondary' => '#818D97',
        'secondary__contrast' => '#ffffff',
        'success' => '#2e9955',
        'success__contrast' => '#ffffff',
        'info' => '#2dacbf',
        'info__contrast' => '#ffffff',
        'warning' => '#ffc51a',
        'warning__contrast' => '#604302',
        'danger' => '#b91827',
        'danger__contrast' => '#f0f0f0',
        'light' => '#e5e7e9',
        'light__contrast' => '#083450',
        'dark' => '#343a40',
        'dark__contrast' => '#f8f9fa',
      ],
    ],
  ],
  //    'crazy' => [
  //      'title' => t('Crazy colors'),
  //      'colors' => [
  //
  //             ...
  //
  //      ],
  //    ],
  //  ],
];
