# Array of variable dependants like
#  name: color_machine_name
#  variants:
#    - darken: [0-100]
#    - lighten: [0-100]
#    - opacity: [100-0]
#
# Do not remove vars and variants used in bootstrap_override!
#
default_variants:
  - darken: 7
  - darken: 10
  - darken: 12
  - darken: 25
  - darken: 35
  - lighten: 10
  - lighten: 75
  - lighten: 90
  - opacity: 25
  - opacity: 35
  - opacity: 50
colors:
  - name: primary
  - name: secondary
  - name: dark
    variants:
      - opacity: 10
      - opacity: 15
      - opacity: 75
  - name: light
  - name: success
  - name: info
  - name: warning
  - name: danger
